[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "vendor/SDL_gfx"]
	path = vendor/SDL_gfx
	url = https://sourceforge.net/p/sdlgfx/code
